VITE_OCI_PAR_URL=https://objectstorage.sa-saopaulo-1.oraclecloud.com/p/SEU_TOKEN_DE_ESCRITA/n/SEU_NAMESPACE/b/SEU_BUCKET/o/
VITE_OCI_READ_BASE=https://objectstorage.sa-saopaulo-1.oraclecloud.com/p/SEU_TOKEN_DE_LEITURA/n/SEU_NAMESPACE/b/SEU_BUCKET/o
